@import "../Colours.scss";

.progress {
    width: 500px;
    height: 48px;
    background-color: $twitterBlue40;
    border-radius: 24px;
    position: relative;
    margin: auto;
    border: 1px solid $white;

    &::after {
        display: block;
        content: "";
        position: absolute;
        border-radius: inherit;
        width: calc(50% - 4px);
        left: 2px;
        top: 2px;
        height: calc(100% - 4px);

        background-color: $twitterBlue;
    }
}

.label {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    transform: translate(-50%, -50%);

    z-index: 0;

    color: $white;
    z-index: 1;
    font-weight: 500;
    font-size: 32;
}
